
<div id="content">
    <div class="container-fluid">

        <div class="lock-container">
            <div class="panel panel-default text-center paper-shadow" data-z="0">
                <h1 class="text-display-1">Forget Password</h1>
                <form role="form" action="index.html" name="questionForm">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="form-control-material">
                                <input id="email" name="email" type="text" ng-model="email" class="form-control" placeholder="Enter Email ID" required>
                                <label for="Email">Enter Email Id</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#/forgotPassword" class="btn btn-primary" ng-click="forgotGetEmail();">Submit</a>
                        </div>
                    </div>
                    <br /><br />
                    <div ng-show="myValue" class="panel-body hideByDefault">
            

                        <div class="form-group">
                            <div class="form-control-material">
                                <input id="phnum" name="phnum" type="text" ng-model="phNum" class="form-control" placeholder="Enter Phone Number " required>
                                <label for="pno">Enter Phone Number</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#/forgotPassword" class="btn btn-primary" ng-click="forgotGetPassword();">Get Password</a>
                        </div>


                        <div class="form-group">
                            <div style="padding-top:30px">
                                <label ng-show="myPwd" ng-model="pword" style="font-size:25px" type="text" for="password" class="hideByDefault">{{pword}}</label>
                            </div>
                        </div>
                    </div>









                </form>
            </div>
        </div>
    </div>
</div>

